@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
// $blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
$gradient-red:#c94b4b;
$gradient-purple:#4b134f;

// Update the sans-serif font family
// $family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
// $primary: $pink;
// $primary-invert: $pink-invert;
// change the blue arrow
$navbar-dropdown-arrow: rgb(0, 0, 0);
$navbar-item-color:#fff;
$navbar-item-hover-color:#807d63;
// $navbar-background-color:#fff;

$navbar-dropdown-item-hover-color:#807d63;
$navbar-dropdown-background-color:#fff;
$navbar-dropdown-boxed-radius:1px;
$navbar-dropdown-boxed-shadow:none;

$navbar-burger-color: #fff;

$button-text-hover-color:#fff;


$primary:#e44479; //primary color
// 4. Import the rest of Bulma
//*


@import "../node_modules/bulma/bulma";
@import url('https://fonts.googleapis.com/css?family=Raleway:900|Roboto+Condensed');







.logos {
    padding: 10rem 4em 2em; 
}

#navbarExampleTransparentExample > div{
    font-family: 'Roboto Condensed';
    color: #807d63;
}
//coloring the text
#navbarExampleTransparentExample > div > div > div > div > a{
    color: #807d63
}
//coloring the hamburger
.navbar-burger  {
color: #fff;
height: 4.25rem;
}

// .navbar-menu > .is-active{
//    .navbar-end > .navbar-item{
//        color: black;
//    }
// }

#navwhite{
    
}
.hero .navbar{
    z-index: 1000!important;
}

// fixes size issue with svg

 #grid > div:nth-child(1) > object{
     max-width: 60%;
 }
 #grid > div:nth-child(2) > object{
    max-width: 70%;
}
 #grid > div:nth-child(3) > object{
    max-width: 100%;
}
#grid > div:nth-child(4) > object{
    max-width: 70%;
    position: relative;
    left: 10px;
}
#grid > div:nth-child(5) > object{
    max-width: 60%;
}
// font change
#copy {
     h1 { font-family: 'Raleway', sans-serif;
    

     }
    h2  {
        font-family: 'Roboto Condensed', sans-serif;
    }
    p{
        font-family: 'Roboto Condensed', sans-serif;
    }
    a{
        font-family: 'Roboto Condensed', sans-serif;
    }
}

// partners
#title {
    padding-bottom: 0.8em;
}

#header > section > level > div{
    margin-top: 1em;
}

//LOGO
#header > nav > div.navbar-brand > figure > img{
    position: absolute;
     top: 15px;
     left: 1em;
}

body {
	background: #fff;
}


// Cards courses
.card {
	background: #fff;
	width: 20em;
	height: 30em;
	position: flex;
	margin:0em 1em 0em;
	
	// left: 50%;
	// transform: translate(-50%, -50%);
	border-radius: 5px;
	box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.15);
}

.card-header {
	height: 35%;
	width: 100%;
	padding: 0px;
	overflow: hidden;
}

.header-img {
	height: 100%;
	width: 100%;
	background: url(https://source.unsplash.com/jUwvjOmCTWc/) center;
	background-size: 100%;
	border-radius: inherit;
	transition: all ease-in-out 0.4s;
}

.card:hover .header-img {
	// transform: scale(1.25) rotate(0.5deg);
}

.card-title {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 18px;
	padding: 15px;
}

.card-title h1 {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
	padding: 0px;
}

.btn {
	padding: 10px 20px;
	position: absolute;
	width: 60%;
	left: 50%;
	bottom: 30px;
	transform: translate(-50%, 0%);
	border: 1px solid turquoise;
	border-radius: 100px;
	text-align: center;
	transition: all ease-in-out 0.2s;
	cursor: pointer;
	&:hover {
		background: turquoise;
		color: #fff;
	}
}


// mobile
@media (max-width: 512px) {
    #grid {
        display: grid;
        margin: 0em -5em;
        
    }
    .people{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    .navbar-item img {
        max-height: none;
        height: 4em;
        width: 6em;
    }
    #copy{
        top: 15em!important;
        
    }
    #grid{
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr; 
        padding: 0em 3em 0em;
        justify-content: center;
    }
    //  icons
 #grid > div:nth-child(1) > object{
    max-width: 70%;
}
#grid > div:nth-child(2) > object{
   max-width: 80%;
}
#grid > div:nth-child(3) > object{
   max-width: 100%;
}
#grid > div:nth-child(4) > object{
   max-width: 80%;
   position: relative;
   left: 2px;
}
#grid > div:nth-child(5) > object{
   max-width: 70%;
}
}

@media (max-width: 768px) {
    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    }
  
}
// wide screen
@media (min-width: 1472px) {
 
    .logos{
        padding: 10rem 6em 2em; 
    }
    
}
// to make the hamburger disapear
@media (min-width:  1080px) {
    body > section.hero.is-fullheight > nav > div > div.column.right > figure > svg {
        display: none;
    }
    
}


