@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/


@import "../node_modules/bulma/bulma";
@import url('https://fonts.googleapis.com/css?family=Orbitron|Roboto:400,900');



.logos{
    padding: 10rem 6em 2em; 
    object{
       max-width: 80%;
    }
}
// font change
#copy {
     h1 { font-family: 'Orbitron', sans-serif;
    

     }
    h2  {
        font-family: 'Roboto';
    }
    p{
        font-family: 'Roboto'
    }
    a{
        font-family: 'Roboto'
    }
}
// partners
#title {
    padding-bottom: 0.4em;
}

// logo
.navbar-item img {
    max-height: none;
    height: 8em;
    width: 13em;
}

.people {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}
// mobile
@media (max-width: 512px) {
    #grid {
        display: grid;
        margin: 0em -5em;
        
    }
    .people{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    .navbar-item img {
        max-height: none;
        height: 4em;
        width: 6em;
    }
    .copy{
        
    }
    #grid{
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr; 
    }
}

@media (max-width: 768px) {
    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    }
  
}
// wide screen
@media (min-width: 1472px) {
 
    .logos{
        padding: 10rem 6em 2em; 
        object{
        //    max-width: 65%;
        }
    }
    
}
// to make the hamburger disapear
@media (min-width:  1080px) {
    body > section.hero.is-fullheight > nav > div > div.column.right > figure > svg {
        display: none;
    }
    
}


